*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(207, 159, 100);
}
.colorfont{
    background-color: aquamarine;
    color: blueviolet;
}